%h1{id: "welcome_id"}=  t('.title')  #title and description of home page, defined in en.yml
%h4= t('.description')

%h2{id: "current", onclick: "ToggleText(this)"}=  t('.current')
%p{id: "currentp"}=  t('.currentp')

%h2{id: "venues", onclick: "ToggleText(this)"}=  t('.venues')
%p{id: "venuesp"}=  t('.venuesp')


%h2{id: "accounts", onclick: "ToggleText(this)"}=  t('.accounts')
%p{id: "accountsp"}=  t('.accountsp')



%h2{id: "accessibility", onclick: "ToggleText(this)"}=  t('.accessibility')

%div{id: "accessibilityp"}
  %p=  t('.font')
  %input#smallb{onclick: "SetFontSize('90%')", type: "button", value: t('.small')}
  %input#mediumb{onclick: "SetFontSize('105%')", type: "button", value: t('.medium')}
  %input#largeb{onclick: "SetFontSize('125%')", type: "button", value: t('.large')}
  %p=  t('.colour')
  %input#normalb{onclick: "SetPageStyle('Normal')", type: "button", value: t('.light')}
  %input#darkb{onclick: "SetPageStyle('Dark')", type: "button", value: t('.dark')}
%p
