= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :location
    %p= @event.location.name
    = f.hidden_field :location_id, value: @event.location.id
  .field
    = f.label :event_type
    = f.text_field :event_type
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :start
    = f.time_select :start
  .field
    = f.label :end
    = f.time_select :end
  .field
    = f.label :num_tickets
    = f.number_field :num_tickets
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
