%h1= I18n.t('.eventtitle')

%table
  %thead
    %tr
      %th= t('.name')
      %th= t('.location')
      %th= t('.type')
      %th= t('.date')
      %th= t('.description')
      %th= t('.start')
      %th= t('.end')
      %th= t('.tickets')
      %th= t('.price')
      %th
      %th
      %th

  %tbody
    - @events.each_with_index do |event, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"
      %tr
        %td{:class => "#{row_class} plain"}= event.name
        %td{:class => "#{row_class} plain"}= event.location.name
        %td{:class => "#{row_class} plain"}= event.event_type
        %td{:class => "#{row_class} plain"}= event.date
        %td{:class => "#{row_class} plain"}= event.description
        %td{:class => "#{row_class} plain"}= event.start.strftime("%I:%M%p")
        %td{:class => "#{row_class} plain"}= event.end.strftime("%I:%M%p")
        %td{:class => "#{row_class} plain"}= event.num_tickets
        %td{:class => "#{row_class} plain"}
          = '£'
          = event.price
        %td{:class => "#{row_class} plain"}= link_to t('.show'), event
        %td{:class => "#{row_class} plain"}= link_to t('.edit'), edit_event_path(event)
        %td{:class => "#{row_class} plain"}= link_to t('.destroy'), event, method: :delete, data: { confirm: I18n.t('.confirm') }


%br

= link_to I18n.t('.eventnew'), locations_path
%p
%h4= I18n.t('.styles')
%input#plainb{onclick: "SetTableStyle(t('.plain'))", type: "button", value: "Plain"}
%input#brightb{onclick: "SetTableStyle(t('.bright'))", type: "button", value: "Bright"}
