%h1 Listing events

%table
  %thead
    %tr
      %th Name
      %th Location
      %th Type
      %th Date
      %th Description
      %th Start
      %th End
      %th Tickets
      %th Price
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.location.name
        %td= event.event_type
        %td= event.date
        %td= event.description
        %td= event.start
        %td= event.end
        %td= event.num_tickets
        %td= event.price
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
