%h1 Events

%table
  %thead
    %tr
      %th Name
      %th Location
      %th Type
      %th Date
      %th Description
      %th Start
      %th End
      %th Tickets
      %th Price
      %th
      %th
      %th

  %tbody
    - @events.each_with_index do |event, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"
      %tr
        %td{:class => "#{row_class} plain"}= event.name
        %td{:class => "#{row_class} plain"}= event.location.name
        %td{:class => "#{row_class} plain"}= event.event_type
        %td{:class => "#{row_class} plain"}= event.date
        %td{:class => "#{row_class} plain"}= event.description
        %td{:class => "#{row_class} plain"}= event.start
        %td{:class => "#{row_class} plain"}= event.end
        %td{:class => "#{row_class} plain"}= event.num_tickets
        %td{:class => "#{row_class} plain"}= event.price
        %td{:class => "#{row_class} plain"}= link_to 'Show', event
        %td{:class => "#{row_class} plain"}= link_to 'Edit', edit_event_path(event)
        %td{:class => "#{row_class} plain"}= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', locations_path

%h4 Table Styles:
%input#plainb{onclick: "SetTableStyle('Plain')", type: "button", value: "Plain"}
%input#brightb{onclick: "SetTableStyle('Bright')", type: "button", value: "Bright"}
