

%p
  %b= t('.name')
  = @event.name
%p
  %b= t('.location')
  = @event.location.name
%p
  %b= t('.type')
  = @event.event_type
%p
  %b= t('.date')
  = @event.date
%p
  %b= t('.description')
  = @event.description
%p
  %b= t('.start')
  = @event.start.strftime("%I:%M%p")
%p
  %b= t('.end')
  = @event.end.strftime("%I:%M%p")
%p
  %b= t('.tickets')
  = @event.num_tickets
%p
  %b= t('.price')
  = '£'
  = @event.price

%b= I18n.t('.tickettitle')
%table
  %tbody
    - @event.tickets.each_with_index do |ticket, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"
      - if ticket.user == current_user
        %tr{id: "ticket_#{ticket.id}"}
          %td{:class => "#{row_class} plain"}= ticket.first_name
          %td{:class => "#{row_class} plain"}= ticket.last_name
          %td{:class => "#{row_class} plain"}= link_to t('.show'), ticket
          %td{:class => "#{row_class} plain"}= link_to t('.edit'), edit_ticket_path(ticket)
          %td{:class => "#{row_class} plain"}= link_to t('.destroy'), ticket, :method => :delete, :data => { :confirm => 'Are you sure? This will remove all associated tickets!' }, :remote => true

%p= link_to t('.book_ticket'), new_ticket_path(event_id: @event)

= link_to t('.edit'), edit_event_path(@event)
\|
= link_to t('.back'), events_path
