%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Location:
  = @event.location.name
%p
  %b Type:
  = @event.event_type
%p
  %b Date:
  = @event.date
%p
  %b Description:
  = @event.description
%p
  %b Start:
  = @event.start
%p
  %b End:
  = @event.end
%p
  %b Tickets Available:
  = @event.num_tickets
%p
  %b Price:
  = @event.price

%b Tickets Booked:
%table
  %tbody
    - @event.tickets.each do |ticket|
      %tr{id: "ticket_#{ticket.id}"}
        %td= ticket.first_name
        %td= ticket.last_name
        %td= link_to 'Show', ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
        %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true

%p= link_to 'Book Ticket', new_ticket_path(event_id: @event)

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
