%p#notice= notice

%p
  %b Event:
  = @ticket.event
%p
  %b First name:
  = @ticket.first_name
%p
  %b Last name:
  = @ticket.last_name
%p
  %b Age:
  = @ticket.age

= link_to 'Edit', edit_ticket_path(@ticket)
\|
= link_to 'Back', tickets_path
