

%p
  %b= t('.fname')
  = @ticket.first_name
%p
  %b= t('.lname')
  = @ticket.last_name
%p
  %b= t('.event')
  = @ticket.event.name
%p
  %b= t('.location')
  = @ticket.event.location.name
%p
  %b= t('.date')
  = @ticket.event.date
%p
  %b= t('.start')
  = @ticket.event.start
%p
  %b= t('.age')
  = @ticket.age
  - if @ticket.age < 18
    =t('.child')
  - else
    =t('.adult')

= link_to t('.edit'), edit_ticket_path(@ticket)
\|
= link_to t('.back'), tickets_path
