= form_for @review, :html => {:id => "ReviewForm"} do |f|
  - if @review.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(@review.errors.count, "error")}"
        = I18n.t('.error')
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :location
    %p= @review.location.name
    = f.hidden_field :location_id, value: @review.location.id
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :rating
    = f.number_field :rating
  .actions
    = f.submit I18n.t('.save')
