%h1 Your Reviews

%table
  %thead
    %tr
      %th Location
      %th Description
      %th Rating
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.location.name
        %td= review.description
        %td= review.rating
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Leave Reviews', locations_path
