%h1 Your Reviews

%table
  %thead
    %tr
      %th Location
      %th Description
      %th Rating
      %th
      %th
      %th

  %tbody
    - @reviews.each_with_index do |review, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"
      %tr
        %td{:class => "#{row_class} plain"}= review.location.name
        %td{:class => "#{row_class} plain"}= review.description
        %td{:class => "#{row_class} plain"}
          - (1..review.rating).each do |i|
            %i.fa.fa-fw.fa-star
        %td{:class => "#{row_class} plain"}= link_to 'Show', review
        %td{:class => "#{row_class} plain"}= link_to 'Edit', edit_review_path(review)
        %td{:class => "#{row_class} plain"}= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Leave Reviews', locations_path
%p
%h4 Table Styles:
%input#plainb{onclick: "SetTableStyle('Plain')", type: "button", value: "Plain"}
%input#brightb{onclick: "SetTableStyle('Bright')", type: "button", value: "Bright"}
