

%p
  %b= t('.location')
  = @review.location.name
%p
  %b= t('.description')
  = @review.description
%p
  %b= t('.rating')
  - (1..@review.rating).each do |i|
    %i.fa.fa-fw.fa-star
  = @review.rating

= link_to t('.edit'), edit_review_path(@review)
\|
= link_to t('.back'), reviews_path
