%p#notice= notice

%p
  %b Location:
  = @review.location
%p
  %b Description:
  = @review.description
%p
  %b Rating:
  = @review.rating

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
