

%p
  %b Location:
  = @review.location.name
%p
  %b Description:
  = @review.description
%p
  %b Rating:
  - (1..@review.rating).each do |i|
    %i.fa.fa-fw.fa-star
  = @review.rating

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
