
%p
  %b= t('.name')
  = @location.name
%p
  %b= t('.description')
  = @location.description
%p
  %b= t('.country')
  = @location.country
%p
  %b= t('.street')
  = @location.street
%p
  %b= t('.postcode')
  = @location.postcode

%b= t('.events')
%table
  %tbody
    - @location.events.each_with_index do |event, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"
      %tr{id: "event_#{event.id}"}
        %td{:class => "#{row_class} plain"}= event.name
        %td{:class => "#{row_class} plain"}= link_to t('.show'), event
        %td{:class => "#{row_class} plain"}= link_to t('.edit'), edit_event_path(event)
        %td{:class => "#{row_class} plain"}= link_to t('.destroy'), event, :method => :delete, :data => { :confirm => 'Are you sure? This will remove all associated reviews and events!' }, :remote => true

%p= link_to t('.add_event'), new_event_path(location_id: @location)

%b= t('.reviews')
%table
  %tbody
    - @location.reviews.each_with_index do |review, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      - else
        - row_class = "odd"
      %tr{id: "review_#{review.id}"}
        %td{:class => "#{row_class} plain"}= review.user.email
        %td{:class => "#{row_class} plain"}
          - (1..review.rating).each do |i|
            %i.fa.fa-fw.fa-star
        - if review.user == current_user
          %td{:class => "#{row_class} plain"}= link_to t('.show'), review
          %td{:class => "#{row_class} plain"}= link_to t('.edit'), edit_review_path(review)
          %td{:class => "#{row_class} plain"}= link_to t('.destroy'), review, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true
        - else
          %td{:class => "#{row_class} plain"}
          %td{:class => "#{row_class} plain"}
          %td{:class => "#{row_class} plain"}



%p= link_to t('.add_review'), new_review_path(location_id: @location)

= link_to t('.edit'), edit_location_path(@location)
\|
= link_to t('.back'), locations_path
