
%p
  %b Name:
  = @location.name
%p
  %b Description:
  = @location.description
%p
  %b Country:
  = @location.country
%p
  %b Street:
  = @location.street
%p
  %b Postcode:
  = @location.postcode

%p Events:
%table
  %tbody
    - @location.events.each do |event|
      %tr{id: "event_#{event.id}"}
        %td= event.name
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true

%p= link_to t('.add_event'), new_event_path(location_id: @location)

%p Reviews:
%table
  %tbody
    - @location.reviews.each do |review|
      %tr{id: "review_#{review.id}"}
        %td= review.rating
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true



%p= link_to t('.add_review'), new_review_path(location_id: @location)

= link_to t('.edit'), edit_location_path(@location)
\|
= link_to t('.back'), locations_path
